In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 10)

In [3]:
saved_style_state = matplotlib.rcParams.copy() #give us a style state to go back to

In [7]:
nsw_data = pd.read_excel("emissions_nsw_only.xlsx")

In [8]:
nsw_data.head()

,report_id,report_year,facility_id,jurisdiction_code,jurisdiction_facility_id,facility_name,registered_business_name,primary_anzsic_class_code,primary_anzsic_class_name,substance_id,...,water_emission_kg,water_eet,land_emission_kg,land_eet,suburb,state,postcode,latitude,longitude,pivot_facility_name
0,499174,2017/2018,494660,NSW,836,A J Bush and Sons Riverstone,A.J. BUSH & SONS (MANUFACTURES) PTY LTD,1111,Meat Processing,11,...,NaN,NaN,NaN,NaN,Riverstone,NSW,2765,-33.66814,150.900607,A J Bush and Sons Riverstone NSW (836)
1,499174,2017/2018,494660,NSW,836,A J Bush and Sons Riverstone,A.J. BUSH & SONS (MANUFACTURES) PTY LTD,1111,Meat Processing,14,...,NaN,NaN,NaN,NaN,Riverstone,NSW,2765,-33.66814,150.900607,A J Bush and Sons Riverstone NSW (836)
2,499174,2017/2018,494660,NSW,836,A J Bush and Sons Riverstone,A.J. BUSH & SONS (MANUFACTURES) PTY LTD,1111,Meat Processing,18,...,NaN,NaN,NaN,NaN,Riverstone,NSW,2765,-33.66814,150.900607,A J Bush and Sons Riverstone NSW (836)
3,499174,2017/2018,494660,NSW,836,A J Bush and Sons Riverstone,A.J. BUSH & SONS (MANUFACTURES) PTY LTD,1111,Meat Processing,20,...,NaN,NaN,NaN,NaN,Riverstone,NSW,2765,-33.66814,150.900607,A J Bush and Sons Riverstone NSW (836)
4,499174,2017/2018,494660,NSW,836,A J Bush and Sons Riverstone,A.J. BUSH & SONS (MANUFACTURES) PTY LTD,1111,Meat Processing,26,...,NaN,NaN,NaN,NaN,Riverstone,NSW,2765,-33.66814,150.900607,A J Bush and Sons Riverstone NSW (836)

In [9]:
nsw_data.shape

(128080, 27)